<%= form_for(@insta_photo) do |f| %>
  <% if @insta_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@insta_photo.errors.count, "error") %> prohibited this insta_photo from being saved:</h2>

      <ul>
      <% @insta_photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :caption %><br>
    <%= f.text_area :caption %>
  </div>
  <div class="field">
    <%= f.label :likes_count %><br>
    <%= f.number_field :likes_count %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
