<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @insta_photo.username %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @insta_photo.caption %>
</p>

<p>
  <strong>Likes count:</strong>
  <%= @insta_photo.likes_count %>
</p>

<p>
  <strong>Url:</strong>
  <%= @insta_photo.url %>
</p>

<%= link_to 'Edit', edit_insta_photo_path(@insta_photo) %> |
<%= link_to 'Back', insta_photos_path %>
