<div class="card">
    <img class="card-img-top"><%= @photo.url.present? ? image_tag(@photo.url) : image_tag(@photo.attachment_url) %></img>
    <div class="card-block">
      <h4 class="card-title"><%= @photo.caption %></h4>
      <%= link_to 'Edit', edit_photo_path(@photo), class: "btn btn-primary" %>
      <%= link_to 'Destroy', @photo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
</div>

<h2>Comments</h2>
<% @photo.comments.each do |comment| %>
  <p>
    <%= comment.body %>
  </p>
<% end %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
