<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @photo.username %>
</p>


<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>


<p>
  <strong>Datetime:</strong>
  <%= @photo.datetime %>
</p>

<p>
  <strong>Likes count:</strong>
  <%= @photo.likes_count %>
</p>

<p>
  <strong>Url:</strong>
  <%= @photo.url %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= image_tag(@photo.attachment_url) %>
</p>

<h2>Comments</h2>
<% @photo.comments.each do |comment| %>
  <p>
    <%= comment.body %>
  </p>
<% end %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
